<!--
  Generated template for the InventoryPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-toolbar>
    <ion-title>뱃지보관함</ion-title>
    <ion-buttons start>
      <button (click)="dismiss()">
        <span primary showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
  <ion-item *ngFor = "let bedge of BedgeArr; let i = index">
    <ion-thumbnail item-left>
    <section *ngIf = "bedge">
      <img src="images/badge/badge{{i+1}}.png">
    </section>
    <section *ngIf="!bedge">
      <img src="images/badge/badge{{i+1}}b.png">
    </section>
    </ion-thumbnail>
    <h3>{{i+1}} 번 뱃지</h3>
  </ion-item>
</ion-list>
</ion-content>
